norec_sentence-main/aggregation.py
norec_sentence-main/README.md
norec_sentence-main/3class/dev.json
norec_sentence-main/3class/test.json
norec_sentence-main/3class/train.json
norec_sentence-main/binary/dev.json
norec_sentence-main/binary/test.json
__pycache__/API.cpython-310.pyc
__pycache__/english_model.cpython-310.pyc
__pycache__/lemmatization.cpython-310.pyc
__pycache__/stopwords.cpython-310.pyc
__pycache__/training_model.cpython-310.pyc
__pycache__/translate.cpython-310.pyc
__pycache__/twitter_connection.cpython-310.pyc
